@charset "UTF-8";

/*! header font-size adjust */

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HANAMDAUM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* html {
    font-size : 100%;
} */

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit
}

h1 {
    font-size: 2rem;
    font-family: Cafe24Ohsquare;
    margin: 2rem 0 1.2rem
}

h1,
h2 {
    line-height: 120%
}

h2 {
    font-size: 1.5rem;
    font-family: Cafe24Ohsquare;
    margin: 1.6666666667rem 0 1rem
}

h2,
h3 {
    line-height: 120%
}

h3 {
    font-size: 1.3rem;
    font-family: Cafe24Ohsquare;
    margin: 1.3333333333rem 0 .8rem
}

h3,
h4 {
    line-height: 120%
}

h4 {
    font-size: 1.2rem;
    font-family: Cafe24Ohsquare;
    margin: 1rem 0 .6rem
}

h5 {
    font-size: 1.1rem;
    font-family: Cafe24Ohsquare;
    margin: .8333333333rem 0 .5rem
}

h5,
h6 {
    line-height: 120%
}

h6 {
    font-size: 1rem;
    font-family: Cafe24Ohsquare;
    margin: .6666666667rem 0 .4rem
}

.cell_output {
    padding-left: 1em;
    padding-right: 0em;
    margin-top: 1em;
    font-size: .86rem;
}
  